
<mat-card class="sidebar-card">
 <a onclick="showRecommendatons()">Recommended Ideas</a> <br> <br>
 <a onclick="myWork()">MyWork</a>
</mat-card>
<mat-card class="screen">
  <mdb-card >

    <!-- Card img -->
    <mdb-card-img src="" alt="Card image cap"></mdb-card-img>
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>

  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <!-- <h4>{{}}</h4> -->
    </mdb-card-title>

    <!--Text-->
    <!-- <mdb-card-text> {{}} -->
    <!-- </mdb-card-text> -->
 <!-- <button (click)="getUser()" mdbBtn color="primary" mdbWavesEffect>Show Details</button> -->
  </mdb-card-body>
</mdb-card>
</mat-card>

