
<!-- <app-signup></app-signup> -->
<!-- <app-login></app-login> -->
<!-- <app-idea-view></app-idea-view> -->
<!-- <app-my-profile></app-my-profile> -->
<!-- <app-login></app-login> -->
<!-- <app-autogenerate></app-autogenerate> -->
<!-- <app-service-provider-profile></app-service-provider-profile> -->
<!-- <app-idea-service></app-idea-service> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-index></app-index>
<app-card-carousel></app-card-carousel>
<app-main-landing-page-spcard></app-main-landing-page-spcard>
<app-main-landing-page-idea-card></app-main-landing-page-idea-card>
<app-index-page-footer></app-index-page-footer> -->


<router-outlet></router-outlet>


<!-- <app-sp-navbar></app-sp-navbar>
<app-spsidebar></app-spsidebar>
<app-main-landing-page-idea-card></app-main-landing-page-idea-card>
<app-index-page-footer></app-index-page-footer>
<router-outlet></router-outlet> -->

<!-- <app-sp-navbar></app-sp-navbar>
<app-ihsidebar></app-ihsidebar>
<app-main-landing-page-idea-card></app-main-landing-page-idea-card>
<app-index-page-footer></app-index-page-footer> -->
<router-outlet></router-outlet>