<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Squad Ninja</title>
</head>
<body>
  <div class="container-fluid">
    <mat-toolbar color="primary" class="navbar">
        <div fxShow="true" fxHide.gt-sm="false"><a href="#"><span>Squad Ninja</span></a></div>
        <div fxShow="true" fxHide.gt-sm="false">
          <a href="www.google.com"><span>About us</span></a>
          <a href="www.google.com"><span>Services</span></a>
          <a href="www.google.com"> <span>Sign Up</span></a>
          <a href="www.google.com"><span>Contact us</span></a>
          <a href="www.google.com"> <span>Login</span></a>
        </div>
    </mat-toolbar>
  </div>
</body>
</html>


